[submodule "node_modules/wheat"]
	path = node_modules/wheat
	url = git@github.com:yashiro1899/wheat.git
[submodule "node_modules/codemirror"]
	path = node_modules/codemirror
	url = git://github.com/marijnh/CodeMirror.git
